<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navbar") %>
    <section>
        <div class="container">
            <form action="/cart/singleproduct" method="post">
                <div id="single" class="row">
                    <div class="w-50">
                        <img src="<%= singleProduct.img %>" alt="">
                    </div>
                    <div class="w-50 single-content">
                        <h3><%= singleProduct.title %></h3>
                        <h4>Category : <%= singleProduct.category %></h4>
                        <h5>Price : <span>₹<%= singleProduct.price %>.00</span></h5>
                        <button id="btn">Add to Cart</button>
                        <h1>PRODUCT INFO</h1>
                        <P>I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item.</P>
                        <h1>RETURN & REFUND POLICY</h1>
                        <P>I'm a Return and Refund policy. I'm a great place to let your customers know what to do in case they are dissatisfied with their purchase. Having a straightforward refund or exchange policy is a great way to build trust and reassure your customers that they can buy with confidence.</P>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- footer section  -->
    <%- include("footer") %>
</body>
<script src="/js/singlepage.js"></script>
</html>